* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  display: grid;
  place-content: center;
  background: #444;
  color: aliceblue;
}

.super-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

.container {
  padding: 0 1px;
  margin: 0 auto;
}

.container input {
  margin-bottom: 10px;
  height: 30px;
  padding-left: 5px;
  background: rgb(231, 231, 238);
  outline: none;
  border: none;
  border-radius: 5px;
  width: 364px;
}

input::placeholder {
  color: black;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-div-container {
  display: flex;
  gap: 10px;
  font-size: 27px;
}

.task-div-container li {
  flex: 2;
}

.line-through {
  text-decoration: line-through;
}

button {
  border: none;
  background-color: rgb(196, 196, 228);
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

i {
  pointer-events: none;
}
