*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

html{
    font-size: 1.6rem;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

body{
    
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 auto;
    background: darkslateblue;
}

.time-container .circle{
    position: absolute;
    margin: 0 auto;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 1px 5px 2px midnightblue,
    -1px -5px 2px midnightblue;
    animation: circle 3s linear infinite;
    
}

@keyframes circle {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px blue;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px midnightblue;
    }
    
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px blue;
    }
}

.time-container .circle:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}

.circle.pause-circle{
    animation: none;
}


.main-container{
    
    border-radius: 1rem;
    width: 40rem;
    height: 58rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #333;
    box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.6), -.1rem -.1rem .5rem rgba(255,255,255,0.1);
}

.time-container{
    position: relative;
    width: 41rem;
    height: 35rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    /* background: #121521; */
    /* box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.6), -.1rem -.1rem .3rem rgba(255,255,255,0.1); */
    display: flex; 
    gap: 1.5rem;
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title1, .title2, .title3{
    display: block;
    font-size: 2.5rem;
    text-align: center;
}

.hour, .min, .sec{
    display: block;
}

.hour-text, .min-text, .sec-text{
    width: 8rem;
    height: 7rem;
    font-size: 6rem;
}

.arrow-up{
    font-size: 4rem;
    rotate: 90deg;
    cursor: pointer;
    text-align: center;
    display: block;
    color: rgba(255,255,255,0.7);
}

.arrow-down{
    font-size: 4rem;
    color: rgba(255,255,255,0.7);
    margin-top: 2.1rem;
    rotate: 90deg;
    cursor: pointer;
    display: block;
}

.divider, .divider2{
    font-size: 5rem;
    text-align: center;
    align-self: center;
    opacity: 1;
    
}

.blink{
    animation: blink 1s infinite;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.btn-container{
    display: flex;
    gap: 6rem;
}

.btn{
    cursor: pointer;
    height: 5rem;
    width: 12rem;
    /* background: #121521; */
    /* box-shadow: .2rem .2rem .5rem rgba(0,0,0,0.6), -.1rem -.1rem .3rem rgba(255,255,255,0.1); */
    filter: blur(.01rem);
    color: rgba(240, 248, 255, 0.75);
    border-radius: 3rem;
    border: none;
    letter-spacing: 0.2rem;
    transition: all 0.1s;
    font-weight: 700;
}

/* .btn:focus{
    box-shadow: inset .2rem .2rem .5rem rgba(0,0,0,0.6), inset -.1rem -.1rem .3rem rgba(255,255,255,0.1);
} */

.btn:hover{
    color: rgb(240, 248, 255);
}

.hide{
    display: none;
}

.compress{
    gap: .5rem;
}

.btn-container .start{
    background-color: mediumslateblue;
}
.btn-container .pause{
    background-color: firebrick;
}
.btn-container .reset{
    background-color: rgb(239, 232, 232);
    color: rgba(0, 0, 0, 0.77);
}

.btn-container .reset:hover{
    color: rgba(0, 0, 0, 1);
}
